html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #8b8b8b;
  background-color: #fafafa;
  text-align: center;
  margin: 60px 20px 60px 20px;
}
h1 {
  font-size: 28px;
  color: #000000;
  text-align: center;
  margin: 40px 0 10px 0;
  font-weight: 500;
}
h2 {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
  font-weight: 500;
}
.Cestovatel {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Karticka {
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  font-size: 13px;
  box-shadow: 5px 5px 5px #407bff1f;
  display: flex;
}
.ObrazkyKarticek {
  margin-right: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
}
p {
  margin: 30px 0 0 0;
}
.Button {
  border-radius: 30px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.tlacitka {
  list-style: none;
}
.Dobrodruzstvi {
  background-color: #407bff;
  margin-top: 30px;
  width: 195px;
  height: 40px;
}
.Pohoda {
  background-color: #8b8b8b;
  margin-top: 10px;
  width: 221px;
  height: 40px;
}
.Mapa,
.Palma {
  margin-top: 30px;
}

@media screen and (min-width: 640px) {
  .tlacitka {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .Dobrodruzstvi {
    margin-right: 20px;
  }
  .Pohoda {
    margin-top: 30px;
  }
  .Sluzby,
  .Delegati {
    display: flex;
    margin-top: 40px;
  }
  .Mapa,
  .Palma,
  .Slunečník,
  .Karavan,
  .Letadlo,
  .Kaktus {
    margin-top: 0;
  }
  .Mapa,
  .Palma,
  .Slunečník,
  .Kaktus {
    margin-right: 20px;
  }
  .Karticka {
    flex-basis: 33.33333333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 15px 20px 15px;
  }
  .ObrazkyKarticek {
    margin-right: 0;
  }
  p {
    margin-top: 20px;
    height: 50px;
  }
}

@media screen and (min-width: 1100px) {
  body {
    width: 1040px;
    margin: 60px auto;
  }
  .Nahore {
    display: flex;
  }
  .CestovatelObr {
    order: 2;
    width: 490px;
    margin-left: 60px;
  }
  .Cestovatel {
    width: 425px;
  }
  .Uvod {
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .hr {
    margin-left: 0;
    margin-right: 0;
  }
  p {
    text-align: left;
  }
  ul {
    padding: 0;
  }
  hr {
    margin: 10px 0 0 0;
  }
  h2 {
    margin-top: 80px;
    text-align: left;
  }
  .StredniCast,
  .DolniCast {
    display: flex;
  }
  .Sluzby {
    order: -1;
    width: 550px;
  }
  .PopisVpravo {
    margin-left: 60px;
    width: 430px;
  }
  .PopisVlevo {
    margin-right: 60px;
    width: 430px;
    padding: 120px 0 0 0;
  }
  .Delegati {
    width: 550px;
    margin-top: 80px;
  }
  .NadpisVlevo {
    margin: 0;
  }
}
